.box{
    border:none;
    border-radius:8px;
    border-width:1px;
    width:500px;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow:0px 1px 8px gray;
}
.img{
    border-radius:50%;
    width:50px;
    height:50px;
    object-fit:cover;
    object-position:right;
    vertical-align:middle;
    margin-right:8px;
    margin-left:8px;
}
.text{
    vertical-align:middle;
    border:none;
    font-size:18px;
    margin-right:100px;
}
.tweet{
    background-color: rgb(5, 138, 255);
    color:white;
    border:none;
    font-weight:bold;
    border-radius:16px;
    padding:8px 16px 8px 16px;

}